#
# Managed by ansible
# Role: systemd-timer
#
[Unit]
Description={{ item.key }} service

[Service]
Type=oneshot
{% if item.value.WorkingDirectory is defined %}
WorkingDirectory={{ item.value.WorkingDirectory }}
{% endif %}
{% if item.value.ExecStartPre is defined %}
ExecStartPre={{ item.value.ExecStartPre }}
{% endif %}
ExecStart={{ item.value.ExecStart }}
{% if item.value.ExecStartPost is defined %}
ExecStartPost={{ item.value.ExecStartPost }}
{% endif %}
{% if item.value.User is defined %}
User={{ item.value.User }}
{% endif %}
{% if item.value.Restart is defined %}
Restart={{ item.value.Restart }}
{% endif %}
{% if item.value.RestartSec is defined %}
RestartSec={{ item.value.RestartSec }}
{% endif %}
{% if item.value.TimeoutStartSec is defined %}
TimeoutStartSec={{ item.value.TimeoutStartSec }}
{% endif %}
