#
# Managed by ansible
# Role: systemd-timer
#
[Unit]
Description={{ item.key }} timer

[Timer]
{% if item.value.OnActiveSec is defined %}
OnActiveSec={{ item.value.OnActiveSec }}
{% endif %}
{% if item.value.OnBootSec is defined %}
OnBootSec={{ item.value.OnBootSec }}
{% endif %}
{% if item.value.OnStartupSec is defined %}
OnStartupSec={{ item.value.OnStartupSec }}
{% endif %}
{% if item.value.OnUnitActiveSec is defined %}
OnUnitActiveSec={{ item.value.OnUnitActiveSec }}
{% endif %}
{% if item.value.OnUnitInactiveSec is defined %}
OnUnitInactiveSec={{ item.value.OnUnitInactiveSec }}
{% endif %}
{% if item.value.OnCalendar is defined %}
OnCalendar={{ item.value.OnCalendar }}
Persistent={{ item.value.Persistent | default('false') }}
{% endif %}
AccuracySec={{ item.value.AccuracySec | default('15s') }}

[Install]
WantedBy=timers.target
